//header的高度
@nav_height: 54px;

.nav {
	// position: fixed;
	// z-index: 9999;
	// top: 0;
	// left: 0;
	width: 100%;
	height: @nav_height;
	text-align: center;
	background-color: #eee;
	text-decoration: none;

	ul {
		list-style: none;

		li {
			display: inline-block;
			margin: 0 40px;
			height: @nav_height;
			line-height: @nav_height;

			a {
				// color: #000;
			}
		}
	}
}

.selected {
	color: pink;
}
