body {
	background-color: transparent;
	padding:0;
	margin:0;
	overflow: hidden;
}

video {
	position: absolute;
	min-width: 100%;
	min-height: 100%;
}

canvas {
	opacity: .3;
}
.con {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 11;
	background: rgba(30,125,158,.8);
}
